@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    text-decoration: underline;
}

.svg-white > svg {
    color: white;
    font-weight: 900;
}

.svg-white:active {
    background: green;
}